@media screen 
and (min-width: 320px) 
and (max-width: 736px) {
    
    .login-panel {
        width: 50vh;
        height: auto; 
        margin: 2vh auto; 
        padding: 2vh;
        border-radius: 2vh;
    }

    .login-panel img {
        height: 7vh;
    }

    .form-label {
        font-size: 2.5vh;
    }

    .panel-header {
        font-size: 4.5vh; 
        line-height: 1.2;
    }

    .input-group {
        background: #161628;
        border-radius: 5vh;
        padding: 1.5vh;
        width: 100%;
        position: relative;
    }

    .input-field {
        font-size: 2vh;
        padding: 1vh;
    }

    #togglePassword {
        right: 2vh; 
        top: 50%;
        font-size: 2.5vh;
    }

    .submit-button {
        margin: 0;
        font-size: 2.8vh; 
        padding: 1vh;
        font-weight: 500;
    }

    .toggle-wrapper {
        font-size: 3vh; 
    }

    .toggle-description {
        font-size: 2.5vh;
    }

    .forgot-password-container,
    #forgot-password-link {
        font-size: 2.5vh;
    }
}