@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        margin-top: 3%;
        background-image: url(images/Background-Image.png);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 55%;
    }

    .login-panel {
        justify-content: center;
        width: 300px;
        height: auto;
        padding: 25px;
        margin: 0 auto;
        border-radius: 10px; 
    }

    .login-panel img {
        height: 40px;
    }

    .panel-header {
        font-size: 24px;
        padding: 10px;
    }

    .input-group {
        width: 90%;
        padding: 10px;
        margin: 10px auto;
        left: 0;
    }

    .submit-button {
        width: 90%;
        padding: 10px;
        left: 0;
        font-size: 18px;
        left: 5%;
        margin-top: 0%;
    }
    
    .toggle-wrapper {
        font-size: 16px;
        left: -10%;
        margin-top: 0%;
        margin-bottom: 5%;
    }

    .social-login {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .form-label {
        left: 10%;
        margin-top: 0%;
    }

    .separator {
        margin-top: 5%;
        font-size: 25px;
        font-weight: bold;
    }

    .forgot-password-container {
        margin-bottom: 0%;
        display: contents;
    }
    
    #forgot-password-link {
        margin-top: 10px;
    }
    
    .highlighted-text {
        font-size: 20px;
    }
    
    .social-login-container {
        margin-top: 0%;
    }

    .forgot-password-container::after {
        content: '';
        display: block;
        width: 113%;
        height: 3px;
        background-color: #3f3f73;
        margin: 10px 0;
        position: relative;
        left: 0%;
    }
}
