* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: auto;
}

body {
    font-family: sans-serif, Helvetica, Arial;
    overflow-y: hidden;
    background-color: rgb(40, 32, 58); 
}

.login-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    height: 90vh;
    background-color: #0e0e19;
    border-radius: 5vh;
    padding: 20px;
    margin: 4.5vh auto;
}

#user-login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-panel img {
    height: 5vh;
}

.panel-header {
    color: #f25ea3;
    text-align: center;
    font-size: 5ch;
    line-height: 1.5cap;
} 

.panel-header::after {
    content: '';
    display: block;
    width: 24ch;
    height: 3%;
    background-color: #3f3f73;
    margin: 1vh;
}

.highlighted-text {
    color: #3f3f73;
}

.form-label {
    font-weight: bolder;
    color: #f25ea3;
    padding: 1cap;
}

.input-group {
    background: #161628;
    border-radius: 5vh;
    padding: 1.5vh;
    width: 100%;
    position: relative;
}

.input-group:hover {
    box-shadow: inset 0 0 0 1px var(--essential-negative, #f25ea3);
}

#togglePassword {
    position: absolute;
    right: 2vh;
    top: 2.5vh;
    transform: translateY(-50%);
    cursor: pointer;
    color: #f25ea3;
} 

.input-field {
    color: rgb(255, 234, 234);
    border: none;
    background: transparent;
    font-size: 1.5vh;
    outline: none;
    font-weight: 600;
}

.input-field::placeholder {
    color: #3f3f73;
    font-weight: bolder;
}

.submit-button {
    background: #f25ea3;
    border: none;
    border-radius: 5vh;
    padding: 1.5vh;
    font-size: 2.2ch;
    margin-top: 1vh;
    cursor: pointer;
}

.submit-button:hover {
    transform: scale(1.02);
    background-color: #fa65ab;
    font-weight: 500;
}

.toggle-wrapper {
    margin: 1ch;
    font-size: 2.2vh;
    color: #f25ea3;
}

.toggle-description {
    margin: 1vh 0;
    font-size: 1.8vh;
    color: #f25ea3;
    font-weight: bolder;
}

.fa-toggle-on:hover {
    color: #a04271;
    cursor: pointer;
}

.fa-toggle-off {
    color: #3f3f73;
    cursor: pointer;
}

.signup-container {
    color: #3f3f73;
    font-size: 2vh;
}

.signup-container a {
    color: #a04271;
    font-size: 2vh;
}

.signup-container a:hover {
    color: #f25ea3;
}

.forgot-password-container {
    margin: 1vh 0;
    text-align: center;
}

#forgot-password-link {
    color: #a04271;
    font-size: 2vh;
}

#forgot-password-link:hover {
    color: #f25ea3;
}

.forgot-password-container::after {
    content: '';
    display: block;
    width: 52cap;
    height: 8%;
    background-color: #3f3f73;
    margin: 1.5vh auto;    
}